@using Microsoft.AspNetCore.Components.Web
@namespace ZAOGST.WIS.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="~/" />
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="fontawesome-free-6.5.1-web/css/fontawesome.css" />
	<link rel="stylesheet" href="fontawesome-free-6.5.1-web/css/brands.css" />
	<link rel="stylesheet" href="fontawesome-free-6.5.1-web/css/solid.css" />
	<link rel="stylesheet" href="css/site.css" />
	<link rel="stylesheet" href="ZAOGST.WIS.styles.css" />
	<link rel="stylesheet" href="_content/PSC.Blazor.Components.AutoComplete/css/autocomplete.css" />
	<link rel="stylesheet" href="_content/Blazored.Typeahead/blazored-typeahead.css" />
	<component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
	@RenderBody()

	<div id="blazor-error-ui">
		<environment include="Staging,Production">
			Произошла ошибка. Это приложение может больше не отвечать до перезагрузки.
		</environment>
		<environment include="Development">
			Произошло необработанное исключение. Подробности см. в инструментах разработки браузера.
		</environment>
		<a href="" class="reload">Перезагрузить</a>
		<a class="dismiss">🗙</a>
	</div>

	<script src="_framework/blazor.server.js"></script>
	<script src="_content/PSC.Blazor.Components.AutoComplete/js/autocomplete.js"></script>
	<script src="_content/BlazorTable/BlazorTable.min.js"></script>
	<script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
</body>
</html>
