@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Redirecting...</PageTitle>

<div class="loading-rectangle"></div>
<div class="loading-spinner"></div>

@code {
	protected override void OnAfterRender(bool firstRender)
	{
		NavigationManager.NavigateTo("/shipmentsview");
	}
}