@page "/sendforshipment/{id:int}"

@inject ControlBlockService ControlBlockService
@inject NavigationManager NavigationManager

<PageTitle>Отправить на отгрузку</PageTitle>

<h3>Отправить на отгрузку блок «@_blockType»</h3>

<EditForm Model="@shippedControlBlock" OnValidSubmit="HandleSubmit">
	<div class="form-group">
		<label>Блок на отгрузку:<br />«@_blockType»</label>
	</div>
	<br />
	<button type="submit" class="btn btn-success">Обновить</button>
	<button @onclick=BackButtonClick type="button" class="btn btn-secondary">Назад</button>
	@* 	@if (shippedControlBlock.ShippedBallons == null)
	{
	<button type="button" style="margin: 5px" class="btn btn-outline-primary" disabled>На отгрузку</button>
	}
	else
	{
	@if (controlBlock.Ballons.Count == 7 && controlBlock.Type == ControlBlockTypes.TYPE200 || (controlBlock.Ballons.Count == 5 && (controlBlock.Type == ControlBlockTypes.TYPE130 || controlBlock.Type == ControlBlockTypes.TYPE90)))
	{
	<button @onclick=SendToShipmentClick type="button" style="margin: 5px" class="btn btn-outline-primary">На отгрузку</button>
	}
	else
	{
	<button type="button" class="btn btn-outline-primary" style="margin: 5px" disabled>На отгрузку</button>
	}
	}
	<br />
	<br />
	<button @onclick="DeleteControlBlock" type="button" class="btn btn-danger">Удалить</button>
	<br />
	<br />
	<div style="width: 50%; height: 1px; border-bottom: 1px solid black; position: absolute;"></div>
	<br />
	@if (controlBlock.Ballons != null && controlBlock.Ballons.Count > 0)
	{
	foreach (var ballon in controlBlock.Ballons)
	{
	<div class="label">Баллон: №@ballon.StrainGaugeNumber</div>
	}
	} *@
</EditForm>

@code {
	[Parameter]
	public int Id { get; set; }
	private string _blockType { get; set; }
	private ShippedControlBlock shippedControlBlock = new();

	protected override async Task OnInitializedAsync()
	{
		ControlBlock controlBlock = await ControlBlockService.GetSingleControlBlock(Id);
		_blockType = controlBlock.Type;
	}

	private void HandleSubmit()
	{

	}

	private void BackButtonClick()
	{
		NavigationManager.NavigateTo("/controlblocksview");
	}
}
