@page "/shipmentupdate/{id:int}"
@attribute [Authorize]
@inject IControlBlockService ControlBlockService
@inject IJSRuntime JsRuntime
@inject IShippedBallonService ShippedBallonService
@inject IShippedControlBlockService ShippedControlBlockService
@inject DataContext Context
@inject NavigationManager NavigationManager

@if (_shippedControlBlock != null)
{
	<PageTitle>Просмотр блока №@_shippedControlBlock.Number</PageTitle>

	<h3>Просмотр блока №@_shippedControlBlock.Number</h3>
	<div class="my-adaptive-div my-info-div">
		<h6 class="mt-1">Тип: @_shippedControlBlock.Type</h6>
		<h6 class="mt-1">Дата отгрузки: @_shippedControlBlock.ShippingDate</h6>
		@if (_shippedControlBlock.IsSended)
		{
			<h6 class="mt-1">Отправлено: Да</h6>
		}
		else
		{
			<h6 class="mt-1">Отправлено: Нет</h6>
		}
	</div>
	<br />
	<div class="my-adaptive-div my-info-div">
		<h5 class="p-1">Баллоны:</h5>
		@foreach (var ballon in _shippedControlBlock.ShippedBallons.OrderBy(x => x.StrainGaugeNumber))
		{
			<p class="p-1">№@ballon.StrainGaugeNumber | @ballon.BallonNumber (Дата отгрузки: @ballon.ShippingDate)</p>
		}
	</div>
	<br />
	<br />
	<AuthorizeView>
		<Authorized>
			@if (_shippedControlBlock.IsSended)
			{
				<button class="btn btn-primary" @onclick=ReturnToShipment>Вернуть "На отгрузку"</button>
				<button class="btn btn-danger" @onclick="DeleteCurrentShipmentBlock">Удалить</button>
				<button class="btn btn-secondary" @onclick="ToPreviousPage">Назад</button>
			}
			else
			{
				<button class="btn btn-primary" @onclick=ReturnToWarehouse>Вернуть на склад</button>
				<button class="btn btn-outline-secondary" @onclick=Sended>Отправлено</button>
				<button class="btn btn-danger" @onclick="DeleteCurrentShipmentBlock">Удалить</button>
				<button class="btn btn-secondary" @onclick="ToPreviousPage">Назад</button>
			}
		</Authorized>
		<NotAuthorized>
			@if (_shippedControlBlock.IsSended)
			{
				<button class="btn btn-secondary" @onclick="ToPreviousPage">Назад</button>
			}
			else
			{
				<button class="btn btn-outline-secondary" @onclick=Sended>Отправлено</button>
				<button class="btn btn-secondary" @onclick="ToPreviousPage">Назад</button>
			}
		</NotAuthorized>
	</AuthorizeView>
	<br />
}

@code {
	//TODO: Сделать список баллонов через таблицу
	[Parameter]
	public int Id { get; set; }
	private ShippedControlBlock? _shippedControlBlock;

	protected override async Task OnInitializedAsync()
	{
		_shippedControlBlock = await ShippedControlBlockService.GetById(Id);
	}

	private async void DeleteCurrentShipmentBlock()
	{
		if (_shippedControlBlock == null) throw new ShippedControlBlockNotFoundException();
		bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Вы уверены что хотите удалить баллон с тензодатчиком №{_shippedControlBlock.Number}?");

		if (confirmed)
		{
			await ShippedControlBlockService.Delete(_shippedControlBlock);
			ToPreviousPage();
		}
	}

	private async void Sended()
	{
		_shippedControlBlock.IsSended = true;

		await ShippedControlBlockService.Update(_shippedControlBlock);

		ToPreviousPage();
	}

	private async void ReturnToShipment()
	{
		_shippedControlBlock.IsSended = false;

		await ShippedControlBlockService.Update(_shippedControlBlock);

		ToPreviousPage();
	}

	private async void ReturnToWarehouse()
	{
		if (_shippedControlBlock == null || _shippedControlBlock.ShippedBallons == null || _shippedControlBlock.ShippedBallons.Count <= 0) throw new Exception("Не удалось найти отгружаемый блок."); //TODO: Обработать исключение

		List<Ballon> ballons = new();

		ControlBlock oldControlBlock = new()
			{
				Number = _shippedControlBlock.Number,
				Type = _shippedControlBlock.Type,
				ShippingDate = _shippedControlBlock.ShippingDate
			};

		ControlBlock? newControlBlock = await ControlBlockService.Create(oldControlBlock);

		if (newControlBlock == null) throw new CannotCreateNewControlBlockException();

		foreach (var shippedBallon in _shippedControlBlock.ShippedBallons)
		{
			Ballon newBallon = new()
				{
					StrainGaugeNumber = shippedBallon.StrainGaugeNumber,
					BallonNumber = shippedBallon.BallonNumber,
					ControlBlockId = newControlBlock.Id,
					ControlBlock = newControlBlock
				};

			ballons.Add(newBallon);
		}

		foreach (ShippedBallon ballon in _shippedControlBlock.ShippedBallons)
		{
			if (Context.ShippedBallons.Contains(ballon))
				await ShippedBallonService.Delete(ballon.Id);
		}

		newControlBlock.Ballons = ballons;

		await ControlBlockService.Update(newControlBlock);

		await ShippedControlBlockService.Delete(_shippedControlBlock);

		ToPreviousPage();
	}

	private void ToPreviousPage()
	{
		NavigationManager.NavigateTo("/shipmentsview");
	}
}
